@use '../../scss/index'as *;

.container {
  background: var(--card);
  border: 0.1rem solid white;
  -webkit-box-shadow: 0 0 0.2rem 0.2rem #fff;
  border-radius: 0.25rem;
}

.label {
  color: var(--text);
}

.error {
  color: rgb(255, 0, 0);
  font-size: $small_text_font_size;
  margin-bottom: $margin_3;
}

.buttons {
  margin-top: $margin_7;
}
