<app-titel> Benutzerdaten aendern</app-titel>

<form [formGroup]="form" (ngSubmit)="form.valid && onSubmit()">
    <div class="container is-max-desktop p-5 mt-5">
      <!-- Input-NAME -->
  
      <div class="field form-group">
        <label class="label">Name</label>
        <div class="control has-icons-left block">
          <input
            class="input form-control"
            type="text"
            placeholder="Name"
            formControlName="name"
            
          />
          <span class="icon is-small is-left">
            <i class="fas fa-user"></i>
          </span>
        </div>
      </div>
  
      <!-- Error-NAME -->
  
      <div
        class="error"
        *ngIf="form.get('name').touched && form.get('name').invalid"
      >
        <div *ngIf="form.get('name').errors.required">
          Benutzername darf nicht leer sein
          <span class="icon is-small is-left">
            <i class="fas fa-exclamation-triangle"></i>
          </span>
        </div>
  
        <div *ngIf="form.get('name').errors.minlength">
          Benutzername muss mind. 3 Zeichen enthalten
        </div>
      </div>
  

      <!-- Input-EMAIL -->
  
      <div class="field form-group">
        <label class="label">Email</label>
        <div class="control has-icons-left block">
          <input
            class="input form-control"
            type="email"
            placeholder="Email "
            formControlName="email"
            [ngClass]="{
              'is-danger': form.get('email').touched && form.get('email').invalid
            }"
          />
          <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
          </span>
        </div>
      </div>
  
      <!-- Error-EMAIL -->
  
      <div
        class="error"
        *ngIf="form.get('email').touched && form.get('email').invalid"
      >
        <div *ngIf="form.get('email').errors.required">
          Email darf nicht leer sein
          <span class="icon is-small is-left">
            <i class="fas fa-exclamation-triangle"></i>
          </span>
        </div>
  
        <div *ngIf="form.get('email').errors.email">
          Keine korrekte Email-Syntax
        </div>
      </div>
  
      <!-- Input-PASSWORT -->
  
      <div class="field form-group">
        <label class="label">Passwort</label>
        <div class="control has-icons-left block">
          <input
            class="input form-control"
            type="password"
            placeholder="Passwort"
            formControlName="password"
            [ngClass]="{
              'is-danger':
                form.get('password').touched && form.get('password').invalid
            }"
          />
          <span class="icon is-small is-left">
            <i class="fas fa-key"></i>
          </span>
        </div>
      </div>
  
      <!-- Error-PASSWORT -->
  
      <div
        class="error"
        *ngIf="form.get('password').touched && form.get('password').invalid"
      >
        <div *ngIf="form.get('password').errors.required">
          Passwort darf nicht leer sein
          <span class="icon is-small is-left">
            <i class="fas fa-exclamation-triangle"></i>
          </span>
        </div>
  
        <div *ngIf="form.get('password').errors.minlength">
          Passwort muss mind. 6 Zeichen enthalten
        </div>
      </div>
  
      <!-- Input-GEBURTSDATUM -->
  
      <div class="field form-group">
        <label class="label">Geburtsdatum</label>
        <div class="control has-icons-left block">
          <input
            class="input form-control"
            type="date"
            placeholder="Geburtsdatum"
            formControlName="date_of_birth"
            [ngClass]="{
              'is-danger':
                form.get('date_of_birth').touched &&
                form.get('date_of_birth').invalid
            }"
          />
          <span class="icon is-small is-left">
            <i class="fas fa-calendar-alt"></i>
          </span>
        </div>
      </div>
  
      <!-- Error-GEBURTSDATUM -->
  
      <div
        class="error"
        *ngIf="
          form.get('date_of_birth').touched && form.get('date_of_birth').invalid
        "
      >
        <div *ngIf="form.get('date_of_birth').errors.required">
          Geburtsdatum darf nicht leer sein
          <span class="icon is-small is-left">
            <i class="fas fa-exclamation-triangle"></i>
          </span>
        </div>
      </div>
  
      <!-- BUTTONS -->
  
      <div class="field is-grouped buttons">
        <div class="control block">
          <button
            type="submit"
            [disabled]="!form.valid"
            class="button is-success"
          >
            Daten aendern
          </button>
        </div>
        <div class="control block">
          <button routerLink="/Startseite" class="button is-link is-light">
            Abbrechen
          </button>
        </div>
      </div>
    </div>
  </form>
