.navbar {
  background-color: black;
  box-shadow: 0 4px 2px -2px white;
  border-radius: 0.25rem;
}

.is-info {
  background-color: #041e3d !important;
}

.is-danger {
  background-color: #990000 !important;
}

.navbar-item {
  color: white !important;
}

.logo {
  max-height: 75px;

  &:hover {
    cursor: pointer;
  }
}
