@use '../../scss/index'as *;

/* Eltern-Grid (Gesamtcontainer) */
.grid {
  display: grid;
  justify-content: center;
  grid-gap: 1.25rem;
  grid-auto-flow: row;

  max-width: 1300px;
  margin: auto;

  grid-template-columns: repeat(auto-fit, minmax(100px, 300px));
}

/* Bilder im Grid */
.grid img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: 50% 50%;

  border: 1px solid grey;
  border-radius: 0.25rem;
}

/* Das "Gehäuse" / Element in dem die Bilder sind */
.figure {
  border-radius: 0.25rem;
  padding: 0.4rem;
  font-size: 1.2rem;
  text-align: center;
  background-color: var(--card);
  border: 1px solid var(--border);
  color: var(--text);
  overflow: hidden;

  &:hover {
    cursor: pointer;
    background: var(--hover_card);
  }
}

/* Das "Gehäuse" / Element in dem der Titel + Buttons sind */
figcaption {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  .titel {
    font-size: $h2_font_size;
    font-weight: bold;
  }
}

/* Das Unter-"Gehäuse" / Unter-Element in dem die zwei Buttons sind */
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 1rem;
}

/* der button-tag */
button {
  margin-top: $margin_4;
  font-weight: bold;
  padding: $padding_4;
}

/* Eltern-Element für die Searchbar */
.field {
  width: 70%;
  margin: 6rem auto 3rem;
}

.filme {
  width: 70%;
  margin: 0 auto 0;
}

/* Die Searchbar, also das <input> tag selbst */
.searchbar input {
  width: 100%;
  padding: 0.5rem;
}

.infos {
  border: 1px solid red;

  .testzweck {
    color: red;
  }
}
