@use '../../scss/index'as *;

/* Eltern-Grid (Gesamtcontainer) */
.grid {
  display: grid;
  justify-content: center;
  grid-gap: 2rem;
  grid-auto-flow: row;

  max-width: 1300px;
  margin: auto;

  grid-template-columns: repeat(auto-fit, minmax(100px, 300px));
}

/* Bilder im Grid */
.grid img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: 50% 50%;

  //border: 0.1rem solid white;
  //-webkit-box-shadow: 0 0 0.3rem 0.15rem #fff;
  border-radius: 0.25rem;
}

/* Das "Gehäuse" / Element in dem die Bilder sind */
.figure {
  border-radius: 0.25rem;
  //padding: 0.4rem;
  font-size: 1.2rem;
  text-align: center;
  background: var(--card);
  //background-color: var(--card);
  -webkit-box-shadow: 0 0 0.3rem 0.15rem #fff;
  color: var(--text);
  overflow: hidden;

  &:hover {
    cursor: pointer;
  }
}

/* Das "Gehäuse" / Element in dem der Titel + Buttons sind */
figcaption {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  .titel {
    font-size: $h2_font_size;
    font-weight: bold;
  }
}

/* Das Unter-"Gehäuse" / Unter-Element in dem die zwei Buttons sind */
.buttons {
  display: flex;
  color: #041e3d;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 1rem;
}

/* der button-tag */
.button {
  margin-top: $margin_4;
  font-weight: bold;
}

/* Eltern-Element für die Searchbar */
.field {
  width: 70%;
  margin: 6rem auto 3rem;
}

.width70 {
  width: 70%;
  margin: 0 auto 0;
}

/* Die Searchbar, also das <input> tag selbst */
.searchbar input {
  width: 100%;
  padding: 0.5rem;
}

.infos {
  border: 1px solid red;

  .testzweck {
    color: red;
  }
}

.error {
  color: rgb(255, 0, 0);
  font-size: $small_text_font_size;
  margin-bottom: $margin_3;
}
