<!-------------------------------------------------------------------------------------------- || Filme Suchen || -->

<div class="width70 mt-6">
  <app-genre-filter-button
    [genreName]="'Action'"
    [color]="'is-dark'"
  ></app-genre-filter-button>
  <app-genre-filter-button
    [genreName]="'Abenteuer'"
    [color]="'is-dark'"
  ></app-genre-filter-button>
  <app-genre-filter-button
    [genreName]="'Animation'"
    [color]="'is-dark'"
  ></app-genre-filter-button>
  <app-genre-filter-button
    [genreName]="'Drama'"
    [color]="'is-dark'"
  ></app-genre-filter-button>
  <app-genre-filter-button
    [genreName]="'Horror'"
    [color]="'is-dark'"
  ></app-genre-filter-button>
  <app-genre-filter-button
    [genreName]="'Komödie'"
    [color]="'is-dark'"
  ></app-genre-filter-button>
  <app-genre-filter-button
    [genreName]="'Krimi'"
    [color]="'is-dark'"
  ></app-genre-filter-button>
  <app-genre-filter-button
    [genreName]="'Liebe'"
    [color]="'is-dark'"
  ></app-genre-filter-button>
  <app-genre-filter-button
    [genreName]="'Science-Fiction'"
    [color]="'is-dark'"
  ></app-genre-filter-button>
  <app-genre-filter-button
    [genreName]="'Thriller'"
    [color]="'is-dark'"
  ></app-genre-filter-button>
  <app-genre-filter-button
    [genreName]="'Western'"
    [color]="'is-dark'"
  ></app-genre-filter-button>
  <app-genre-filter-button
    [genreName]="'Fantasy'"
    [color]="'is-dark'"
  ></app-genre-filter-button>
</div>

<div class="width70 mt-3">
  <app-genre-filter-button
    [genreName]="'Alle Filme'"
    [color]="'is-danger'"
  ></app-genre-filter-button>
</div>
<div class="width70 mt-5 mb-5">
  <p class="control has-icons-left">
    <input
      type="text"
      class="input is-dark"
      placeholder="Film suchen..."
      [(ngModel)]="search"
    />
    <span class="icon is-small is-left">
      <i class="fas fa-search"></i>
    </span>
  </p>
</div>
<div
  class="has-text-centered"
  *ngIf="getGenreBoolean() && filteredFilme().length > 0"
>
  <h1>{{ filteredFilme()[0].genre }} Filme</h1>
</div>

<div class="has-text-centered" *ngIf="!getGenreBoolean()">
  <h1>Alle Filme</h1>
</div>

<!-- Container: Movie-Galerie || START || -->

<div class="grid mt-4">
  <!--  <h1>{{ genreFilteredMovies[0].genre }} Filme</h1>-->

  <figure class="figure mb-6" *ngFor="let movie of filteredFilme()">
    <div class="images" [routerLink]="['/Details/', movie.movie_id]">
      <img [src]="movie.image" [alt]="movie.title" />
    </div>

    <figcaption>
      <div class="titel">
        <h2>{{ movie.title }}</h2>
      </div>

      <div
        class="buttons"
        *ngIf="user && !checkFSK(user.date_of_birth, movie.fsk)"
      >
        <button
          *ngIf="!isAdmin"
          [routerLink]="['/Details/', movie.movie_id]"
          class="button is-primary"
        >
          Details
        </button>
        <button
          *ngIf="!isAdmin"
          [routerLink]="['/Tickets/', movie.movie_id]"
          class="button is-danger"
          [disabled]="checkFSK(user.date_of_birth, movie.fsk)"
        >
          Tickets
        </button>

        <button
          *ngIf="isAdmin"
          [routerLink]="['/Film_Bearbeiten', movie.movie_id]"
          class="button is-info"
        >
          bearbeiten
        </button>
        <button
          *ngIf="isAdmin"
          (click)="deleteMovie(movie.movie_id)"
          class="button is-danger"
        >
          löschen
        </button>
      </div>
      <div
        class="tooYoung is-danger mt-5"
        *ngIf="user && checkFSK(user.date_of_birth, movie.fsk)"
      >
        <span class="error">Du bist zu Jung für diesen Film, sorry !</span>
      </div>
    </figcaption>
  </figure>
  <!--  Container: Movie-Galerie || ENDE || -->
</div>

<div class="width70 mt-4" *ngIf="filteredFilme() && !filteredFilme().length">
  Aktuell gibt es keine Filme zu Ihrem Suchkriterium!
</div>
