// ------------------------------------------------- || COLORS DARK ||

// Text

$primary_text_color: #e4e6eb;
$secondary_text_color: #b0b3b8;

// Background | Hintergrund

$background_color: #181818;
$card_color: #242526;

// Hover

$hover_color: #3a3b3c;
$hover_text_color: yellowgreen;

// Border | Rahmen

$border_color: #f7f7f7;

// ----------------------------------------------------- || WEITERE ||
