// ------------------------------------------------- || COLORS DARK ||

// Text

$primary_text_color: #fff;
$secondary_text_color: #f0f0f0;

// Background | Hintergrund

$background_color: #000000;
$card_color:#000000;

// Hover

$hover_color: #3a3b3c;
$hover_text_color: yellowgreen;

// Border | Rahmen

$border_color: white;

//Button Colors

$button_color_red: #990000;

$button_color_blue: #041e3d;

//Alle Primären Farben

$enable-grid-classes:false;
$primary:#041E3D;
$secondary:#6c757d;
$success:#3b6663;
$danger:#990000;
$info:#0dcaf0;
$warning:#F19325;
$light:#f8f9fa;
$dark:#212529;

// ----------------------------------------------------- || WEITERE ||
