<app-titel>Account erstellen</app-titel>
<form [formGroup]="form" (ngSubmit)="form.valid && onSubmit()">
  <div class="container is-max-desktop p-5 mt-5">

    <!-- Input-NAME -->

    <div class="field form-group">
      <label class="label">Name</label>
      <div class="control has-icons-left block">
        <input class="input is-info form-control" type="text" placeholder="Name" formControlName="name">
        <span class="icon is-small is-left">
          <i class="fas fa-user"></i>
        </span>
      </div>
    </div>

    <!-- Input-EMAIL -->

    <div class="field form-group">
      <label class="label">Email</label>
      <div class="control has-icons-left block">
        <input class="input is-info form-control" type="email" placeholder="Email " formControlName="email">
        <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>
      </div>
    </div>

    <!-- Input-PASSWORT -->

    <div class="field form-group">
      <label class="label">Passwort</label>
      <div class="control has-icons-left block">
        <input class="input is-info form-control" type="password" placeholder="Passwort" formControlName="passwort">
        <span class="icon is-small is-left">
          <i class="fas fa-key"></i>
        </span>
      </div>
    </div>

    <!-- Input-GEBURTSDATUM -->

    <div class="field form-group">
      <label class="label">Geburtsdatum</label>
      <div class="control has-icons-left block">
        <input class="input is-info form-control" type="date" placeholder="Geburtsdatum" formControlName="geburtsdatum">
        <span class="icon is-small is-left">
          <i class="fas fa-calendar-alt"></i>
        </span>
      </div>
    </div>

    <!-- BUTTONS -->

    <div class="field is-grouped">
      <div class="control block">
        <button type="submit" [disabled]="!form.valid" class="button is-success">Account erstellen</button>
      </div>
      <div class="control block">
        <button class="button is-link is-light">Abbrechen</button>
      </div>
    </div>

  </div>
</form>
