<app-titel>Account erstellen</app-titel>

<div class="container is-max-desktop p-5 mt-5">

  <div class="field">
    <label class="label">Name</label>
    <div class="control has-icons-left block">
      <input class="input is-info" type="text" placeholder="Name" value="">
      <span class="icon is-small is-left">
        <i class="fas fa-user"></i>
      </span>
    </div>
  </div>

  <div class="field">
    <label class="label">Email</label>
    <div class="control has-icons-left block">
      <input class="input is-info" type="email" placeholder="Email " value="">
      <span class="icon is-small is-left">
        <i class="fas fa-envelope"></i>
      </span>
    </div>
  </div>

  <div class="field">
    <label class="label">Passwort</label>
    <div class="control has-icons-left block">
      <input class="input is-info" type="password" placeholder="Passwort" value="">
      <span class="icon is-small is-left">
        <i class="fas fa-key"></i>
      </span>
    </div>
  </div>

  <div class="field">
    <label class="label">Geburtsdatum</label>
    <div class="control has-icons-left block">
      <input class="input is-info" type="text" placeholder="Geburtsdatum" value="">
      <span class="icon is-small is-left">
        <i class="fas fa-calendar-alt"></i>
      </span>
    </div>
  </div>

  <div class="field is-grouped">
    <div class="control block">
      <button class="button is-link">Account erstellen</button>
    </div>
    <div class="control block">
      <button class="button is-link is-light">Abbrechen</button>
    </div>
  </div>

</div>
