@use '../../scss/index'as *;

.container {
  background: var(--card);
  border: 0.1rem solid white;
  -webkit-box-shadow: 0 0 0.2rem 0.2rem #fff;
  border-radius: 0.25rem;
}

.label {
  color: var(--text);
}

.error {
  color: rgb(255, 0, 0);
  font-size: $small_text_font_size;
  margin-bottom: $margin_3;
}

.buttons {
  background-color: #990000;
  margin-top: $margin_7;
}

.preview {
  height: 150px;
}

.preview img {
  height: 100%;
  object-fit: contain;
  object-position: 50% 50%;
}

input[type='file'] {
  visibility: hidden;
}
