@use '../../scss/index'as *;

.container {
  background: var(--card);
  border: 1px solid var(--border);
  border-radius: var(--border_radius);
}

.label {
  color: var(--text);
}

.error {
  color: rgb(255, 0, 0);
  font-size: $small_text_font_size;
  margin-bottom: $margin_3;
}

.buttons {
  margin-top: $margin_7;
}

.preview {
  height: 150px;
}

.preview img {
  height: 100%;
  object-fit: contain;
  object-position: 50% 50%;
}

.bild {
  margin-bottom: $margin_4;
}
