<script src="film-hinzufuegen-form.component.ts"></script>
<app-titel>Film hinzufügen</app-titel>
<form [formGroup]="form" (ngSubmit)="form.valid && onSubmit()">
  <div class="container is-max-desktop p-5 mt-5">

    <!-- Input-TITEL -->

    <div class="field form-group">
      <label class="label">Film-Titel</label>
      <div class="control black-border has-icons-left block">
        <input class="input form-control" type="text" placeholder="Film-Titel" formControlName="title"
          [ngClass]="{ 'is-danger': form.get('title').touched && form.get('title').invalid }">
        <span class="icon is-small is-left">
          <i class="fas fa-video"></i>
        </span>
      </div>
    </div>

    <!-- Error-TITEL -->

    <div class="error" *ngIf="form.get('title').touched && form.get('title').invalid">

      <div *ngIf="form.get('title').errors.required">
        Movie-Titel darf nicht leer sein
        <span class="icon is-small is-left">
          <i class="fas fa-exclamation-triangle"></i>
        </span>
      </div>

    </div>

    <!-- Input-DAUER -->

    <div class="field form-group">
      <label class="label">Dauer</label>
      <div class="control has-icons-left block">
        <input class="input form-control" type="number" placeholder="Dauer in Minuten " formControlName="duration"
          [ngClass]="{ 'is-danger': form.get('duration').touched && form.get('duration').invalid }">
        <span class="icon is-small is-left">
          <i class="far fa-clock"></i>
        </span>
      </div>
    </div>

    <!-- Error-DAUER -->

    <div class="error" *ngIf="form.get('duration').touched && form.get('duration').invalid">

      <div *ngIf="form.get('duration').errors.required">
        Dauer darf nicht leer sein
        <span class="icon is-small is-left">
          <i class="fas fa-exclamation-triangle"></i>
        </span>
      </div>

    </div>

    <!-- Input-ERSCHEINUNGSJAHR -->

    <div class="field form-group">
      <label class="label">Erscheinungsjahr</label>
      <div class="control has-icons-left block">
        <input class="input form-control" type="number" placeholder="Erscheinungsjahr" formControlName="release_year">
        <span class="icon is-small is-left">
          <i class="fas fa-calendar-alt"></i>
        </span>
      </div>
    </div>

    <!-- Error-ERSCHEINUNGSJAHR -->

    <div class="error" *ngIf="form.get('release_year').touched && form.get('release_year').invalid">

      <div *ngIf="form.get('release_year').errors.required">
        Erscheinungsjahr darf nicht leer sein
        <span class="icon is-small is-left">
          <i class="fas fa-exclamation-triangle"></i>
        </span>
      </div>

    </div>

    <!-- Input-GENRE -->

    <div class="field form-group">
      <label class="label">Genre</label>
      <div class="control has-icons-left genre">

        <div class="select">
          <select class="form-control" formControlName="genre"
            [ngClass]="{ 'is-invalid': form.get('genre').touched && form.get('genre').invalid }">
            <option selected>Action</option>
            <option>Abenteuer</option>
            <option>Animation</option>
            <option>Doku</option>
            <option>Drama</option>
            <option>Horror</option>
            <option>Komödie</option>
            <option>Krimi</option>
            <option>Liebe</option>
            <option>Musik</option>
            <option>Science-Fiction</option>
            <option>Thriller</option>
            <option>Western</option>
            <option>Fantasy/Märchen</option>
            <option>Nicht zuordbar</option>
          </select>
        </div>
        <div class="icon is-small is-left">
          <i class="fas fa-hand-pointer"></i>
        </div>
      </div>
    </div>

    <!-- Error-GENRE -->

    <div class="error" *ngIf="form.get('genre').touched && form.get('genre').invalid">

      <div *ngIf="form.get('genre').errors.required">
        Genre darf nicht leer sein
        <span class="icon is-small is-left">
          <i class="fas fa-exclamation-triangle"></i>
        </span>
      </div>

    </div>



    <!-- Input-ALTERSFREIGABE -->

    <div class="field form-group">
      <label class="label">Altersfreigabe</label>
      <div class="control has-icons-left">

        <div class="select">
          <select class="form-control" formControlName="fks"
            [ngClass]="{ 'is-invalid': form.get('fks').touched && form.get('fks').invalid }">
            <option selected>0</option>
            <option>6</option>
            <option>12</option>
            <option>16</option>
            <option>18</option>
          </select>
        </div>
        <div class="icon is-small is-left">
          <i class="fas fa-hand-pointer"></i>
        </div>
      </div>
    </div>

    <!-- Error-ALTERSFREIGABE -->

    <div class="error" *ngIf="form.get('fks').touched && form.get('fks').invalid">

      <div *ngIf="form.get('altersfreigabe').errors.required">
        Altersfreigabe darf nicht leer sein
        <span class="icon is-small is-left">
          <i class="fas fa-exclamation-triangle"></i>
        </span>
      </div>

    </div>

    <!-- Input-BESCHREIBUNG -->

    <div class="field form-group">
      <label class="label">Beschreibung</label>
      <div class="control has-icons-left block">
        <input class="textarea form-control" type="text" placeholder="Beschreibung" formControlName="description">
        <span class="icon is-small is-left">
          <i class="fas fa-align-left"></i>
        </span>
      </div>
    </div>

    <!-- Error-BESCHREIBUNG -->

    <div class="error" *ngIf="form.get('description').touched && form.get('description').invalid">

      <div *ngIf="form.get('description').errors.required">
        Beschreibung darf nicht leer sein
        <span class="icon is-small is-left">
          <i class="fas fa-exclamation-triangle"></i>
        </span>
      </div>

      <div *ngIf="form.get('description').errors.minlength">
        Beschreibung muss mind. 20 Zeichen enthalten.
      </div>

    </div>

    <!-- Input-TRAILER -->

    <div class="field form-group">
      <label class="label">Trailer-Link</label>
      <div class="control has-icons-left block">
        <input class="input form-control" type="text" placeholder="Trailer-Link" formControlName="trailer">
        <span class="icon is-small is-left">
          <i class="fas fa-film"></i>
        </span>
      </div>
    </div>

    <!-- Error-TRAILER -->

    <div class="error" *ngIf="form.get('trailer').touched && form.get('trailer').invalid">

      <div *ngIf="form.get('trailer').errors.required">
        Trailer darf nicht leer sein
        <span class="icon is-small is-left">
          <i class="fas fa-exclamation-triangle"></i>
        </span>
      </div>

      <div *ngIf="form.get('trailer').errors.minlength">
        Trailer muss mind. 20 Zeichen enthalten.
      </div>

    </div>
    <!-- Input-BILD -->

    <div class="form-group bild">
      <label>Bild</label>

      <div>
        <button class="button" (click)="filePicker.click()" type="button"> Bild hochladen </button>
        <input type="file" style="visibility: hidden;" formControlName="image" #filePicker
          (change)="onFileChanged($event)">
      </div>


      <!-- Errors: Bildpfad -->

      <div *ngIf="form.get('image').touched && form.get('image').invalid" class="invalid-feedback">

        <div *ngIf="form.get('image').errors.required">
          Bild darf nicht leer sein!
        </div>

      </div>
    </div>

    <div *ngIf="preview">
      <div class="label">
        <label> Bild-Vorschau </label>
      </div>

      <img [src]="preview" class="preview">
    </div>



    <!-- BUTTONS -->

    <div class="field is-grouped buttons">
      <div class="control block">
        <button type="submit" [disabled]="!form.valid" class="button is-success">Movie hinzufüen</button>
      </div>
      <div class="control block">
        <button routerLink='/Startseite' class="button is-link is-light">Abbrechen</button>
      </div>
    </div>

  </div>
</form>
