<app-titel *ngIf="!clicked"> Ticket für: {{ movie.title }} </app-titel>

<div
  class="all-container"
  *ngIf="!clicked && !checkFSK(loggedInUser.date_of_birth, movie.fsk)"
>
  <div class="movie_image">
    <img [src]="movie.image" [alt]="movie.title" />
  </div>

  <form
    [formGroup]="ticketform"
    (ngSubmit)="ticketform.valid && onBuyTickets()"
  >
    <div class="container is-max-desktop p-5 mt-5">
      <label>Sitzplatz</label>

      <div class="flex-container">
        <div>
          <img
            src="assets/kinoplatz/saal.jpg"
            alt="Kinosaal"
            style="
              max-width: 250px;
              object-fit: cover;
              object-position: center center;
              border: 0.1rem solid white;
              -webkit-box-shadow: 0 0 0.2rem 0.2rem #fff;
              border-radius: 0.25rem;
            "
          />
        </div>

        <div class="flex-column">
          <div>
            <div>
              <label>Reihe</label>

              <div class="select is-small is-dark">
                <select class="select ml-4" formControlName="reihe">
                  <option>A</option>
                  <option>B</option>
                  <option>C</option>
                  <option>D</option>
                  <option>E</option>
                  <option>F</option>
                  <option>G</option>
                  <option>H</option>
                  <option>I</option>
                  <option>J</option>
                </select>
                <div
                  class="error"
                  *ngIf="
                    ticketform.get('reihe').touched &&
                    ticketform.get('reihe').invalid
                  "
                >
                  <div *ngIf="ticketform.get('reihe').errors.required">
                    Reihe erforderlich
                    <span class="icon is-small is-left">
                      <i class="fas fa-exclamation-triangle"></i>
                    </span>
                  </div>
                </div>
              </div>

              <label class="ml-4">Platz</label>
              <div class="select is-small ml-4 is-dark">
                <select formControlName="platz">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                  <option>6</option>
                  <option>7</option>
                  <option>8</option>
                  <option>9</option>
                  <option>10</option>
                </select>
                <div
                  class="error"
                  *ngIf="
                    ticketform.get('platz').touched &&
                    ticketform.get('platz').invalid
                  "
                >
                  <div *ngIf="ticketform.get('platz').errors.required">
                    Platz erforderlich
                    <span class="icon is-small is-left is-dark">
                      <i class="fas fa-exclamation-triangle"></i>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <hr />

      <!--  INPUT SNACK    -->

      <div class="form-group snack">
        <label>Snack</label>

        <div class="select is-small is-dark">
          <select
            class="select ml-4"
            formControlName="snack_name"
            (change)="getSnackSize(); getSnackPrice()"
          >
            <option selected></option>
            <option *ngFor="let snack of snacksList">
              {{ snack.snack_name }}
            </option>
          </select>
        </div>

        <label class="ml-4">Größe</label>
        <div class="select is-small is-dark">
          <select
            class="select ml-4"
            formControlName="snack_size"
            (change)="getSnackPrice()"
          >
            <option selected></option>
            <option *ngFor="let snack of snacksSize">
              {{ snack.size }}
            </option>
          </select>
        </div>

        <label class="ml-4">Preis: <span *ngIf="snacksPrice"> {{ snacksPrice }} €</span></label
        >
      </div>

      <hr />

      <!--  INPUT GETRÄNK    -->

      <div class="form-group drinks">
        <label>Getränk</label>

        <div class="select is-small is-dark">
          <select
            class="select"
            formControlName="drink_name"
            (change)="getDrinkSize(); getDrinkPrice()"
          >
            <option selected></option>
            <option *ngFor="let drink of drinksList">
              {{ drink.drink_name }}
            </option>
          </select>
        </div>

        <label class="ml-4">Größe</label>
        <div class="select is-small is-dark">
          <select
            class="select"
            formControlName="drink_size"
            (change)="getDrinkPrice()"
          >
            <option selected></option>
            <option *ngFor="let drink of drinksSize">
              {{ drink.size }}
            </option>
          </select>
        </div>

        <label
          >Preis: <span *ngIf="drinksPrice"> {{ drinksPrice }} €</span></label
        >
      </div>

      <hr />

      <div class="form-group">
        <label>Tag</label>
        <input class="ml-4" type="date" formControlName="tag" />

        <label class="ml-4">Uhrzeit</label>
        <div class="select is-small ml-4 is-dark">
          <select class="select" formControlName="uhrzeit">
            <option selected></option>
            <option>18:00 Uhr</option>
            <option>19:00 Uhr</option>
            <option>20:00 Uhr</option>
            <option>21:00 Uhr</option>
            <option>22:00 Uhr</option>
            <option>23:00 Uhr</option>
          </select>
        </div>
      </div>

      <hr />

      <!--    PREIS    -->

      <div class="mt-6">
        <span class="subtitle has-text-light">Gesamtpreis:</span>
        <span class="ml-2 subtitle has-text-light" *ngIf="getTotalPrice() > 0">
          {{ getTotalPrice() }} €</span
        >
      </div>

      <!-- BUTTONS -->

      <div class="field is-grouped buttons" *ngIf="!clicked">
        <div class="control block">
          <button
            type="submit"
            [disabled]="!ticketform.valid || clicked"
            class="button is-success"
          >
            Ticket kaufen
          </button>
        </div>
        <div class="control block">
          <button routerLink="/Startseite" class="button is-link is-light">
            Abbrechen
          </button>
        </div>
      </div>
    </div>
  </form>
</div>

<!-- nachm Kauf-->
<div class="is-flex is-justify-content-center mt-4" *ngIf="clicked">
  <div class="kaufnachricht">
    <div>Film: {{ movie.title }}</div>
    <div class="mt-4">
      Sitzplatz: Reihe
      {{
        ticketform.get('reihe').value +
          ' ' +
          '/' +
          ' ' +
          'Platz' +
          ' ' +
          ticketform.get('platz').value
      }}
    </div>

    <div class="mt-4">
      Snack:
      <span
        *ngIf="
          ticketform.get('snack_name').value &&
          ticketform.get('snack_size').value
        "
      >
        {{ ticketform.get('snack_name').value }}
      </span>
      <span
        *ngIf="
          !ticketform.get('snack_name').value ||
          !ticketform.get('snack_size').value
        "
      >
        kein Snack
      </span>
    </div>

    <div class="mt-4">
      Getränk:
      <span
        *ngIf="
          ticketform.get('drink_name').value &&
          ticketform.get('drink_size').value
        "
      >
        {{ ticketform.get('drink_name').value }}
      </span>
      <span
        *ngIf="
          !ticketform.get('drink_name').value ||
          !ticketform.get('drink_size').value
        "
      >
        kein Getränk
      </span>
    </div>

    <div class="mt-4">Tag: {{ ticketform.get('tag').value }}</div>
    <div class="mt-4">Uhrzeit: {{ ticketform.get('uhrzeit').value }}</div>

    <div class="mt-4">Gesamtpreis: {{ getTotalPrice() }} €</div>

    <div class="subtitle has-text-success mt-6">
      Ticket erfolgreich gekauft!
      <span>
        <i class="fas fa-check ml-1"></i>
      </span>
    </div>
  </div>
</div>
