<app-titel *ngIf="tickets.length">Ticketverlauf</app-titel>

<div class="container mt-6" *ngIf="tickets.length">
  <div class="card ml-4 mt-4" *ngFor="let ticket of tickets">
    <header class="card-header">
      <span class="card-header-title has-text-grey-light">
        Film: {{ ticket.movie_name }}
      </span>
      <span class="card-header-title has-text-grey-light">
        Saal: {{ ticket.id_user }}
      </span>
    </header>
    <div class="card-content">
      <div class="content">
        <div class="is-flex is-justify-content-flex-start">
          <div class="label has-text-grey-light">Kaufdatum:</div>
          <div class="ml-2">{{ ticket.date_bought | date }}:</div>
        </div>

        <div class="is-flex is-justify-content-flex-start">
          <div class="label has-text-grey-light">Sitzplatz:</div>
          <div class="reihe ml-2">Reihe: {{ ticket.seat_row }}</div>
          <div class="platz ml-2">Platz: {{ ticket.seat_number }}</div>
        </div>

        <div class="is-flex is-justify-content-flex-start mt-2">
          <div class="label has-text-grey-light">Snack:</div>
          <div class="name ml-2" *ngIf="ticket.snack_name && ticket.snack_size">
            {{ ticket.snack_name }}
          </div>
          <div
            class="name ml-2"
            *ngIf="!ticket.snack_name || !ticket.snack_size"
          >
            Kein Snack
          </div>
        </div>

        <div class="is-flex is-justify-content-flex-start mt-2">
          <div class="label has-text-grey-light">Getränk:</div>
          <div class="name ml-2" *ngIf="ticket.drink_name && ticket.drink_size">
            {{ ticket.drink_name }}
          </div>
          <div
            class="name ml-2"
            *ngIf="!ticket.drink_name || !ticket.drink_size"
          >
            Kein Getränk
          </div>
        </div>

        <div class="is-flex is-justify-content-flex-start mt-2">
          <div class="label has-text-grey-light">Vorstellung:</div>
          <div class="name ml-2">{{ ticket.date_of_show | date }}</div>
        </div>

        <div class="is-flex is-justify-content-flex-start mt-2">
          <div class="label has-text-grey-light">Uhrzeit:</div>
          <div class="name ml-2">{{ ticket.time_of_Show }}</div>
        </div>

        <div class="is-flex is-justify-content-flex-start mt-2">
          <div class="label has-text-grey-light">Gesamtpreis:</div>
          <div class="name ml-2">{{ ticket.total_price }} €</div>
        </div>

        <footer class="card-footer">
          <button
            class="button is-danger mt-2"
            (click)="deleteTicket(ticket.id_ticket)"
          >
            löschen
          </button>
        </footer>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!tickets.length">
  <app-titel>Sie haben noch keine Tickets gekauft!</app-titel>
</div>
