

<div class="all mt-5">

  <form [formGroup]="form">

   <div class="select mr-4">
     <select class="form-control" formControlName="letter" >
       <option>A</option>
       <option>B</option>
       <option>C</option>
       <option>D</option>
       <option>E</option>
       <option>F</option>
       <option>G</option>
       <option>H</option>
       <option>I</option>
       <option>J</option>
     </select>
   </div>
   <!-- Input-PLATZ -->

   <div class="select">
     <select class="form-control" formControlName="number">
       <option>1</option>
       <option>2</option>
       <option>3</option>
       <option>4</option>
       <option>5</option>
       <option>6</option>
       <option>7</option>
       <option>8</option>
       <option>9</option>
       <option>10</option>
     </select>

   </div>
  </form>
 </div>



