@use '../../scss/index'as *;
// Video

.trailer-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-bottom: 50px;
  margin-top: $margin_5;

  .video {
    width: 70%;

    iframe {
      width: 100%;
      height: 70vh;
      border: 0.2rem solid var(--border);
      box-shadow: 0 0 0.4rem 0.4rem #ffffff;
      border-radius: var(--border_radius);
    }
  }
}

#infos {
  display: flex;
  justify-content: space-around;
}

#ticket {
  margin-bottom: $margin_7;
}

#ticket_button {
  display: flex;
  justify-content: flex-end;
}

.button {
  font-size: $h3_font_size;
  font-weight: bold;
  //text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  padding: $padding_5;
  //border: 1px solid var(--border);
}

.padding{
  padding-bottom: 5vh;
}

.error {
  color: rgb(255, 0, 0);
  font-size: $small_text_font_size;
  margin-bottom: $margin_3;
}
