//dateien aus scss
@use 'app/scss/index'as *;

// Bulma
@import "./node_modules/bulma/bulma.sass";

:root {
  // Background
  --background: #{$background_color_light};
  --card: #{$card_color_light};

  // Hover
  --hover_card: #{$hover_color_light};
  --hover_text: #{$hover_text_color_light};

  // Border
  --border: #{$border_color_light};
  --border_radius: #{$border_radius};

  // Text
  --primary_text: #{$primary_text_color_light};
  --secondary_text: #{$secondary_text_color_light};
}

.dark {
  // Background
  --background: #{$background_color_dark};
  --card: #{$card_color_dark};

  // Hover
  --hover_card: #{$hover_color_dark};
  --hover_text: #{$hover_text_color_dark};

  // Border
  --border: #{$border_color_dark};
  --border_radius: #{$border_radius};

  // Text
  --primary_text: #{$primary_text_color_dark};
  --secondary_text: #{$secondary_text_color_dark};
}

body {
  background-color: var(--background);
  color: var(--primary_text);

  font-family: $font_family;
  font-size: $normal_text_font_size;

  line-height: 1.6;
  word-break: break-word;
  min-height: 100vh;
  margin: 0;
  padding: 0;

  h1 {
    font-size: $h1_font_size;
    font-weight: bold;
    margin: 0;
  }

  h2 {
    font-size: $h2_font_size;
    font-weight: bold;
    margin: 0;
  }

  h3 {
    font-size: $h3_font_size;
    font-weight: bold;
    margin: 0;
  }

  ul {
    padding: 0;
    list-style: none;
  }

  a {
    text-decoration: none;
  }

  img {
    max-width: 100%;
    height: auto;
  }
}

html {
  scroll-behavior: smooth;
}

*,
::before,
::after {
  box-sizing: border-box;
}

* {
  transition: color 0.1s, background 0.1s;
}
