//dateien aus scss
@use 'app/scss/index'as *;

@import '~@angular/material/theming';

@include mat-core();

// Bulma
@import './node_modules/bulma/bulma.sass';

:root {
  // Background
  --background: #{$background_color};
  --card: #{$card_color};

  // Hover
  --hover_card: #{$hover_color};
  --hover_text: #{$hover_text_color};

  // Border
  --border: #{$border_color};
  --border_radius: #{$border_radius};

  // Text
  --primary_text: #{$primary_text_color};
  --secondary_text: #{$secondary_text_color};
}

body {
  background: var(--background);
  color: var(--secondary_text);

  font-family: $font_family;
  font-size: $normal_text_font_size;

  line-height: 1.6;
  word-break: break-word;
  min-height: 100vh;
  margin: 0;
  padding: 0;

  h1 {
    font-size: $h1_font_size;
    color: var(--primary_text);
    font-weight: bold;
    margin: 0;
  }

  h2 {
    font-size: $h2_font_size;
    color: var(--primary_text);
    font-weight: bold;
    margin: 0;
  }

  h3 {
    font-size: $h3_font_size;
    color: var(--primary_text);
    font-weight: bold;
    margin: 0;
  }

  ul {
    padding: 0;
    list-style: none;
  }

  a {
    text-decoration: none;
  }

  img {
    max-width: 100%;
    height: auto;
  }
}

html {
  scroll-behavior: smooth;
  background-color: var(--background);
}

*,
::before,
::after {
  box-sizing: border-box;
}

* {
  transition: color 0.05s, background 0.05s;
}

.error {
  color: rgb(255, 0, 0);
  font-size: $small_text_font_size;
  margin-bottom: $margin_3;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
